[Desktop Entry]
Type=Application
Name=5-maestro-rede
Comment=Abre o Maestro de Rede do Raspberry pelo cabo
Exec=xdg-open http://10.10.10.2:5560/
Icon=network-workgroup
Terminal=false
Categories=Network;
